#PassphraseStatic {
  text-align: center;
  color: pink;
}

#PassphraseHorizontal {
  align: center middle;
  height: 1fr;
  align: center middle;
}

#PassphraseOptionBar {
  align: center middle;
  height: 1fr;
}

#PassphraseSeperatorInput {
  width: 10;
}

#PassphraseLengthInput {
  width: 10;
}

.PassphraseOptionGroup {
  width: 1fr;
  align: center middle;
}

.PassphraseOptionLabel {
  text-align: left;
  align: center middle;
}
