Screen {
  align: center middle;
}

Footer {
  text-align: right;
}

Vertical {
  align: center middle;
}

Horizontal {
  align: center middle;
}

#PassphraseStatic {
  text-align: center;
  color: green;
}
